#title {
  text-align: start;
  font-family: arial, sans-serif;
}
.custom_pointer{
  cursor: pointer;
}

.CampaignDatas {
  text-align: start;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.CampaignDatas td, #CampaignDatas th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.CampaignDatas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: start;
  background-color: #f2f2f2;
  color: black;
  text-transform: capitalize;
}
